
*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: rgb(117, 26, 140);
color: #2bd9e2;
}
body{
	background-color: #b5455b;
	color: rgb(35, 192, 209);
}
.glyphicon{
	font-size: 30px;
	color:#61122F; 
}

.center{
	width: 90%;
	background-color: grey;

}
.container
{
	background-color: rgb(156, 37, 69);
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #61122F;
}
.navbar-brand{
font-size: 30px;	
}
